.fixed-height-box {
    height: 370px;
}

.fixed-height-box-2 {
    height: 540px;
    /* или нужная тебе высота */
    display: flex;
    flex-direction: column;
}

.full-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollable-list {
    flex-grow: 1;
    overflow-y: auto;
}

.fixed-size-img {
    height: 440px;
    width: auto;
    object-fit: contain;
}

.textarea_message {
    overflow-y: auto;
    resize: none;
    height: 400px;
}