{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}

{% block left %}
<h5 class="mb-3">📋 Управление</h5>
<div class="row">
    <div class="col-md-12">
        <form action="/start" method="get">
            <button type="submit" class="btn btn-primary w-100">▶️ Start</button>
        </form>
    </div>

    <div class="col-md-5 d-flex align-items-center py-1">
        <span class="badge bg-success">Отправлено: {{ sent or 0 }}</span>
        <span class="badge bg-warning text-dark">Ожидает: {{ pending or 0 }}</span>
        <span class="badge bg-danger">Ошибок: {{ error or 0 }}</span>
    </div>

    <div class="col-md-7 d-flex align-items-center py-1 ps-3">
        {% if message %}
        <p class="text-info m-0 small" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{ message }}
        </p>
        {% endif %}
        {% if error %}
        <p class="text-danger m-0 small">Ошибка: {{ error }}</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="row mt-4">
            <div class="col-md-12 border p-1 ratio ratio-4x3">
                {% if image_directory_path %}
                <img src="{{ image_directory_path }}" class="img-fluid object-fit-contain" alt="Картинка">
                {% else %}
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="m-0 text-muted">Нет изображения.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <form action="/reset_statuses" method="get" class="mb-1">
                <button type="submit" class="btn btn-danger w-100">🔄 Сбросить статусы</button>
            </form>
        </div>
        <div>
            <form action="/create_profile" method="post">
                <label for="profile_name" class="form-label">Добавить профиль:</label>
                <div class="input-group">
                    <input type="text" name="profile_name" id="profile_name" class="form-control" placeholder="Имя профиля"
                        required></label>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        if (this.files.length > 0) {
            document.getElementById('textForm').submit();
        }
    });
</script>

{% endblock %}

{% block right %}
<h5 class="mb-3">⚙️ Настройки</h5>
<div class="col-md-12 d-flex align-items-center">
    <div class="col-md-6">
        <form id="imageForm" action="/upload_image" method="POST" enctype="multipart/form-data" class="mb-2">
            <input type="file" name="file" accept=".jpg" class="d-none" id="imageInput">
            <label for="imageInput" class="btn btn-success w-100">Загрузить изображение</label>
        </form>
    </div>
    <div class="col-md-6">
        <form id="textForm" action="/upload_contacts" method="POST" enctype="multipart/form-data" class="mb-2 ms-1">
            <input type="file" name="file" accept=".txt, .json" class="d-none" id="fileInput">
            <label for="fileInput" class="btn btn-success w-100">Загрузить номера</label>
        </form>
    </div>
</div>
<form action="/add_number" method="post">
    <label for="phone" class="form-label">📞 Добавить номер телефона:</label>
    <div class="input-group">
        <span class="input-group-text">+7</span>
        <input type="tel" name="phone" id="phone" class="form-control" placeholder="7011234567" required></label>
        <button type="submit" class="btn btn-success">Добавить</button>
    </div>
</form>

<form action="{{ url_for('set_category') }}" method="post" id="categoryForm">
    <label for="categorySelect" class="form-label">📂 Категория:</label>
    <select name="category" id="categorySelect" class="form-select" required
        onchange="document.getElementById('categoryForm').submit()">
        <option value="" selected hidden>-- Выберите --</option>
        {% for cat in categories %}
        <option value="{{ cat }}" {% if cat==selected_category %}selected{% endif %}>{{ cat }}</option>
        {% endfor %}
    </select>
</form>
<div class="mt-2">
    <span class="badge bg-info">Количество: {{ g.length }}</span>
</div>
<form action="/delete_category" method="post" id="deleteCategoryForm">
    <button type="submit" class="btn btn-danger w-100">🗑 Удалить категорию</button>
</form>

{% endblock %}

{% block picture %}
<div class="mb-4">
    <form action="/text" method="post" enctype="multipart/form-data" class="mb-2" id="textForm">
        <label for="text" class="form-label">💬 Введите сообщение</label>
        <div class="mb-2">
            <textarea name="text" id="text" class="form-control textarea_message" maxlength="1000"
                placeholder="Введите текст...">{{ session.get('text_message') }}</textarea>
        </div>
        <div class="d-flex gap-2">
            <button type="submit" name="action" value="prev" class="btn btn-outline-primary">Предыдущее</button>
            <button type="submit" name="action" value="next" class="btn btn-outline-primary">Следующее</button>
            <button type="submit" name="action" value="save" class="btn btn-outline-success">Сохранить</button>
            <button type="submit" name="action" value="delete" class="btn btn-outline-danger">Удалить</button>
            <input type="file" name="file" accept=".txt" class="d-none" id="fileInput">
            <label for="fileInput" class="btn btn-outline-success" style="cursor: pointer;">Загрузить текст</label>
        </div>
        <div class="mt-2">
            <span class="badge bg-info">Сообщение:
                {{ position_message + 1}} из {{ length_messages}}
            </span>
        </div>
    </form>
</div>
{% endblock %}

{% block phone %}
{% if g.processed_numbers %}
<h6 class="mt-2">📱 Отправленные номера:</h6>
<ol class="list-group list-group-numbered scrollable-list flex-grow-1">
    {% for contact in g.processed_numbers %}
    <li class="list-group-item small d-flex align-items-center justify-content-between">
        <div>
            {% if contact.status == "sent" %}
            ✅
            {% elif contact.status == "pending" %}
            ⏳
            {% elif contact.status == "error" %}
            ❌
            {% else %}
            ❔
            {% endif %}
            {{ contact.name or "Без имени" }} — {{ contact.number }}
        </div>
        <div class="btn-group btn-group-sm" role="group">
            <form action="/change_status" method="post" class="d-inline">
                <input type="hidden" name="phone" value="{{ contact.number }}">
                <input type="hidden" name="status" value="sent">
                <button type="submit" class="btn btn-success" title="Отправлено">✅</button>
            </form>
            <form action="/change_status" method="post" class="d-inline">
                <input type="hidden" name="phone" value="{{ contact.number }}">
                <input type="hidden" name="status" value="pending">
                <button type="submit" class="btn btn-warning" title="Ожидает">⏳</button>
            </form>
            <form action="/delete_number" method="post" class="d-inline">
                <input type="hidden" name="phone" value="{{ contact.number }}">
                <button type="submit" class="btn btn-outline-danger" title="Удалить">🗑</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ol>
{% endif %}
{% endblock %}